<!-- About Section -->
<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Experience & Education</h2>
                <h3 class="section-subheading text-muted"></h3>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <ul class="timeline">
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                        <img class="img-circle img-responsive" src="img/about/GA.png" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>June 2015 - September 2015</h4>
                                <h4 class="subheading">Teaching Assistant WDI - General Assembly</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Given an opportunity to become a TA for the next WDI at GA. Having enjoyed the course so much, it is a great opportunity for me stay longer to not only pass my experience to the new students, but to learn more.</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="img/about/GA.png" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>March 2015 - June 2015</h4>
                                <h4 class="subheading">Web Development Immersive Student - General Assembly</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">A 12 week, all day, everyday immersive course. We covered a range of topics from the basics of programming to both client and server side languages and frameworks including JavaScript, JQuery, Ruby, Rails, Sinatra, AJAX, Backbone, NodeJS, HTML and CSS. During my time at GA I got the chance to work on several mini and three bigger projects one of which was a group project.</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="img/about/JustIT.png" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>August 2014 - February 2015</h4>
                                <h4 class="subheading">Recruitment Consultant - Just IT</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">A 360 recruitment consultant at Just IT, within the development division (PHP, Front-end, Mobile), working closely with clients to find their next developer.</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="/img/about/qm.jpg" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>September 2011 - June 2014</h4>
                                <h4 class="subheading">Queen Mary, University of London</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">BSc (Hons) Mathematics</p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>