<!-- About Section -->
<section id="about" class="bg-dark-grey">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Experience & Education</h2>
        <h3 class="section-subheading text-muted"></h3>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <ul class="timeline">
          <li class="timeline-inverted">
            <div class="timeline-image">
              <img class="img-circle img-responsive" src="img/about/claimable.png" alt="">
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>February 2016 - Present</h4>
                <h4 class="subheading">Software Engineer - Claimable Ltd</h4>
              </div>
              <div class="timeline-body">
                <p class="text-muted">I am currently working as a Software Engineer at Claimable building simple and affordable claims management software. Tech Stack: Ruby on Rails, Ember JS</p>
              </div>
            </div>
          </li>
          <li class="timeline-inverted">
            <div class="timeline-image">
              <img class="img-circle img-responsive" src="img/about/GA.png" alt="">
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>June 2015 - January 2016</h4>
                <h4 class="subheading">Teaching Assistant WDI + UXDI - General Assembly</h4>
              </div>
              <div class="timeline-body">
                <p class="text-muted">After finishing my course, I was offered by General Assembly to become a teaching assistant for two more WDI courses. It has been an opportunity for me to work on my skills through teaching it to others as well as learning more. During the course we will be covering topics such as JavaScript, JQuery, NodeJS, Ruby, Rails, Sinatra, APIs, AJAX, Angular, TDD, HTML, CSS and more. In addition, I was also given the opportunity to help out the UX students with their front end web development for a week in January 2016.</p>
              </div>
            </div>
          </li>
          <li>
            <div class="timeline-image">
              <img class="img-circle img-responsive" src="img/about/GA.png" alt="">
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>March 2015 - June 2015</h4>
                <h4 class="subheading">Web Development Immersive Student - General Assembly</h4>
              </div>
              <div class="timeline-body">
                <p class="text-muted">A 12 week, all day, everyday immersive course. We covered a range of topics from the basics of programming to both client and server side languages and frameworks including JavaScript, JQuery, Ruby, Rails, Sinatra, AJAX, Backbone, NodeJS, HTML and CSS. During my time at GA I got the chance to work on several mini and three bigger projects one of which was a group project.</p>
              </div>
            </div>
          </li>
          <li>
            <div class="timeline-image">
              <img class="img-circle img-responsive" src="img/about/queenmary.png" alt="">
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>September 2011 - June 2014</h4>
                <h4 class="subheading">Queen Mary, University of London</h4>
              </div>
              <div class="timeline-body">
                <p class="text-muted">BSc (Hons) Mathematics</p>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>